.Home {
  text-align: center;
}

.Home-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Home-header {
  padding: 20px;
  background-color: rgb(36, 39, 46);
}

.Home-title {
  font-size: 1.5em;
}

.Home-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
